
/*color-palette ends*/
@media (max-width: 1199.98px) {
    .container {
        max-width: 100%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 991px) {
    .topContent {
        text-align: center !important;
    }
    .fullDetails {
        gap: 30px;
    }
    .topContent .topDes{
        text-align: center;
    }
    .topContent .topSubTitle {
        padding: 12px 0px;
    }
    .videoDescription {
        text-align: justify;
    }
    /*Home page ends*/


}
/*Medium devices (tablets, 768px and up)*/

@media (max-width: 767px) {
    .desktopMenu{
        display: none;
    }
    .mobileMenu{
        display: block;
    }
    .mobileMenu .logoPart button{
        background: transparent;
        font-size: 20px;
        color: var(--white-color);
        border: none;
        outline: 0;
        background: var(--red-color);
        height: 40px;
        width: 50px;
    }
    .mobileMenu .logoPart{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 10px 15px;
        background: rgba(0, 0, 0, 1);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    .mobileMenu .logoPart h2{
        color: var(--primary-color);
    }
    .mobileMenu .mainMenu{
        background: -o-linear-gradient(269deg, rgb(15 15 15) 15%, rgb(163 163 163) 158.5%);
        background: linear-gradient(181deg, rgb(15 15 15) 15%, rgb(163 163 163) 158.5%);
        height: 93vh;
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
    .mobileMenu .mainMenu.active{
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        top: 60px;
    }
    .mobileMenu .mainMenu ul{
        padding-left: 0;
        margin-top: 100px;
    }
    .mobileMenu .mainMenu ul li{
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        border-bottom: 1px solid var(--white-color);
    }
    .mobileMenu .mainMenu ul li:first-child{
        border-top: 1px solid var(--white-color);
    }
    .mobileMenu .mainMenu ul li a{
        font-size: 16px;
        color: #ffffff;
        padding: 20px;
        background: -o-linear-gradient(269deg, rgb(15 15 15) 15%, rgb(163 163 163) 158.5%);
        background: linear-gradient(181deg, rgb(15 15 15) 15%, rgb(163 163 163) 158.5%);
        display: block;
    }
    .mobileMenu .mainMenu ul li a.active{
        background: -o-radial-gradient(10% 20%, circle, rgb(221, 49, 49) 0%, rgb(159 13 13) 90%);
        background: radial-gradient(circle at 10% 20%, rgb(221, 49, 49) 0%, rgb(159 13 13) 90%);
    }
    .fullDetails .topContent .contentList ul {
        justify-content: center;
    }
    .fullDetails {
        gap: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .fullDetails .imageCover {
        width: 100%;
    }
    .fullDetails .topContent {
        width: 100%;
        text-align: center;
    }
    .topContent .topDes{
        margin-bottom: 10px;
    }
    .topContent .topSubTitle {
        padding: 5px 0px;
        font-size: 20px;
    }
    .topContent .topDes{
        text-align: center;
    }
    .topContent .topTitle {
        font-size: 30px;
    }
    .topFixedBanner .imageCover img {
        -o-object-fit: contain;
           object-fit: contain;
    }
    .topFixedBanner .imageCover {
        height: 230px;
        float: none;
        margin-top: 100px;
    }
    .topContent .topDes {
        padding: 0px 0px 0px;
    }
    .videoCard {
        padding: 6rem 1rem;
    }
    .meetingDescription {
        font-size: 16px;
    }
    .meetingImg {
        margin-top: 20px;
    }
    .myInfo {
        margin-top: 30px;
    }
    .nav-tabs {
        display: block;
    }
    .footerTitle{
        text-align: center;
    }
    .footerMenu li{
        text-align: center;
    }
    .socialDes {
        text-align: center;
    }
    .lastMenu {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 50px;
    }
    /*Home page ends*/

}
/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) {
    .topContent .topDes{
        text-align: center;
    }
    .details {
        font-size: 14px;
    }
    .topContent .topTitle {
        font-size: 30px;
    }
    .topContent .topSubTitle {
        font-size: 20px;
        font-weight: 700;
    }
    .topContent {
        padding-top: 1rem;
        text-align: center !important;
    }
    .topContent .topSubTitle {
        padding: 5px 0px;
    }
    .topContent .topDes {
        padding: 0px 0px 0px;
        font-size: 13px;
    }
    .videoCard {
        padding: 6rem 1rem;
        margin: 50px auto;
    }
    .videoDescription {
        font-size: 14px;
        text-align: justify;
    }
    .recentSubTitle {
        font-size: 14px;
    }
    .meetingImg {
        margin: 20px 0px;
    }
    .footerMenu {
        padding-left: 15px;
    }
    .copyRight a {
        font-size: 14px;
    }
    /*Home page ends*/
   
}
/*Extra Small devices (landscape phones, 320px and up)*/

